.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

  
.profile-container {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    color: black;
    margin-top: 80px; /* Push content below navbar */

  }
  
  .profile-left {
    background: #f5f5f5;
    padding: 1.5rem;
    border-radius: 12px;
    height: 300px;
    width: 300px;
    max-width: 200px;
    height: 300px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  .profile-right {
    background: #f5f5f5;
    padding: 1.5rem;
    border-radius: 12px;
    width: 800px;

    
    max-width: 1000px;

    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .profile-pic {
    justify-content: center; 

    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  .profile-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .profile-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  
  .profile-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0.3rem;
    background-color: #f5f5f5;
    color: black;
  }
  